@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-archivo: "Archivo", sans-serif;
  --font-pixelify-sans: "Pixelify Sans", sans-serif;
  --font-jacques-francois: "Jacques Francois", serif;
  --font-aldrich: "Aldrich", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-archivo {
  font-family: var(--font-archivo);
}
.font-pixelify-sans {
  font-family: var(--font-pixelify-sans);
}
.font-jacques-francois {
  font-family: var(--font-jacques-francois);
}
.font-aldrich {
  font-family: var(--font-aldrich);
}
